@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_LayoutIES.cshtml";
}

<div class="container">
    <div clss="row justify-content-center align-items-center">
        <img src="~/images/ProvaImg.jpeg" class="d-block img-fluid" />
    </div>
</div>
